/* ==========================================================================
   scrolly / component
   ========================================================================== */
.has-js {
    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromTop'] {
        opacity: 0;
        transform: translateY(-60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: scaleX(60px);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='flipFromBottom'] {
        opacity: 0;
        transform: scaleY(-1);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: scaleY(1); 
        }
    }

    [data-scrolly='explode'] {
        opacity: 0;
        transform: scale(0.1) rotate(700deg);
        transition: all 0.4s ease-out;
        &.is-active {
            opacity: 1;
            transform: scale(1) rotate(0deg);
        }
    }
}
