/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #fca311;
    --color-primary-dark: #ab6b02;
    --color-primary-light: #fdc973;

    --color-secondary: #8338ec;
    --color-secondary-dark: #5a2e97;
    --color-secondary-light: #bf9def;

    --color-accent: #2a457f;

    --color-bg-primary: #e2e2e2;
}
