{% include "_partials/_header.html" %}

<section class="contact">
    <div class="wrapper">
        <h1>Nous contacter</h1>
        <div class="infos__grid">
            <div class="info">
                <h2>Horaires</h2>
                <div class="jours">
                    <p>Lundi : 8h00 - 17h00</p>
                    <p>Mardi : 8h00 - 17h00</p>
                    <p>Mercredi : 8h00 - 17h00</p>
                    <p>Jeudi : 8h00 - 17h00</p>
                    <p>Vendredi: 8h00 - 17h00</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="3" height="277" viewBox="0 0 3 277" fill="none">
                    <path d="M3.00002 277L1.70912e-05 277L0 9.29007e-08L3 0L3.00002 277Z" fill="#2A457F" />
                </svg>
            </div>
            <div class="info">
                <h2>Notre numéro</h2>
                <p>450-982-6565</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="3" height="277" viewBox="0 0 3 277" fill="none">
                    <path d="M3.00002 277L1.70912e-05 277L0 9.29007e-08L3 0L3.00002 277Z" fill="#2A457F" />
                </svg>
            </div>
            <div class="info">
                <h2>Adresse</h2>
                <p>1234 Rue de l’Asphalte</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="3" height="277" viewBox="0 0 3 277" fill="none">
                    <path d="M3.00002 277L1.70912e-05 277L0 9.29007e-08L3 0L3.00002 277Z" fill="#2A457F" />
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="map">
    <div class="wrapper">
        <iframe
            title="Google Maps — GoGo Réno"
            loading="lazy"
            allowfullscreen
            src="https://maps.google.com/maps?q=Longueuil,+Canada&amp;t=m&amp;z=13&amp;output=embed"
        ></iframe>
    </div>
</section>

{% include "_partials/_footer.html" %}
