{% include "_partials/_header.html" %}
<section class="hero">
    <div class="wrapper">
        <div class="hero_media">
            <img src="assets/images/hero_img.png" alt="asdfasdf" />
        </div>
        <div class="hero_content">
            <h1>GoGo Réno</h1>
            <p>Tout ce dont vous avez besoin pour rénover, réparer et embellir votre intérieur en un seul endroit.</p>
            <a class="button">Voir les produits</a>
        </div>
    </div>
</section>

<section class="produit_vedette">
    <div class="wrapper">
        <!-- <h2>Composante avec data-default-tab</h2> -->

        <!-- 
            TABS AVEC data-default-tab
        -->

        <section class="tabs" data-component="Tabs" data-default-tab="plomberie">
            <div class="tabs__header">
                <button class="js-tab" data-tab-id="plomberie">Plomberie</button>
                <button class="js-tab" data-tab-id="electricite">Électricité</button>
                <button class="js-tab" data-tab-id="peinture">Peinture</button>
            </div>
            <div class="tabs__content">
                <!-- Histoire -->
                <div class="tab__content" data-tab-content-id="plomberie"></div>

                <!-- Tourisme -->
                <div class="tab__content" data-tab-content-id="electricite">
                    <div class="tab__description">
                        <h3>PRODUIT VEDETTE</h3>
                        <h4>Perceuses DeWalt DCD796</h4>

                        <p>
                            Alliant puissance et compacité, la DeWalt DCD796 est conçue pour répondre aux exigences des professionnels comme des bricoleurs
                            avertis. Grâce à son moteur Brushless 18V XR, elle offre une autonomie exceptionnelle et des performances optimales, même dans les
                            conditions les plus difficiles.
                        </p>
                        <a href="" class="button">Ajouter au panier</a>
                    </div>
                    <div class="tab_media">
                        <img src="assets/images/visseur.png" alt="fsadsda" />
                    </div>
                </div>
            </div>
        </section>

        <!-- 
            FIN DE TABS AVEC data-default-tab
        -->
    </div>
</section>
{% include "_partials/_footer.html" %}
