{% include "_partials/_header.html" %}

<section class="produits">
    <div class="wrapper">
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/visseur.png" alt="Image d'un produit" />
                </div>
                <div class="card__content">
                    <h4>Drill</h4>
                    <p>Description Description Description Description Description Description Description Description</p>
                    <a class="button" href="single-produit.html">Ajouter au panier</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/visseur.png" alt="Image d'un produit" />
                </div>
                <div class="card__content">
                    <h4>Drill</h4>
                    <p>Description Description Description Description Description Description Description Description</p>
                    <a class="button" href="single-produit.html">Ajouter au panier</a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/visseur.png" alt="Image d'un produit" />
                </div>
                <div class="card__content">
                    <h4>Drill</h4>
                    <p>Description Description Description Description Description Description Description Description</p>
                    <a class="button" href="single-produit.html">Ajouter au panier</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "_partials/_header.html" %}
