{% include "_partials/_header.html" %}

<section class="hero hero-single">
    <div class="wrapper">
        <img src="assets/images/thisisengineering-32PpagSzeGs-unsplash.jpg" alt="" />
        <div class="contenu">
            <h1>Titre outil</h1>
            <p>
                Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption
                Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption Descrioption
                Descrioption Descrioption
            </p>
        </div>

        <div class="prix">
            <h2>599 $</h2>
            <h2 class="rouge">399 $</h2>
        </div>

        <button class="bouton">Ajouter au panier</button>
    </div>
</section>

<section class="tutoriel">
    <div class="wrapper">
        <h3>Tutoriel</h3>
        <img src="" alt="" class="video" />
    </div>
</section>

<section class="commentaires">
    <div class="wrapper">
        <div class="card">
            <div class="contenant-image"><img src="" alt="" /></div>
            <div class="stars">
                <svg class="icon">
                    <use href="#icon-iconName"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-iconName"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-iconName"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-iconName"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-iconName"></use>
                </svg>
            </div>
            <p>Un commentaire super cool</p>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
